package cmd

import (
	"os"

	"github.com/spf13/cobra"
	"{{.ModName}}/tui"
	"{{.ModName}}/config"
	"{{.ModName}}/internal/logger"
)

var rootCmd = &cobra.Command{
	Use:   "{{.PackageName}}",
	Short: "{{.PackageName}}, {{.ProgramDesc}}",
	Run: func(cmd *cobra.Command, args []string) {
		if err := tui.Run(); err != nil {
			logger.Log.Errorf("Error: %s", err)
			os.Exit(1)
		}
	},
}

func Execute() {
	config.Init()
	cobra.CheckErr(rootCmd.Execute())
}

func init() {
	rootCmd.AddCommand(versionCmd)
}
